

body {
  background-color: rgba(0, 0, 0, 0.692);
  background-color: rgba(27, 27, 27);
  padding: 0%;
  align-items: center;
  height:100%;
}

body::-webkit-scrollbar { display:none; }

@keyframes glowingText {
 0% { filter: text-shadow(0 0 10px #00ffff); }
 70% { filter: text-shadow(0 0 14px #00FFFF, 0 0 24px #00FFFF, 0 0 37px #00FFFF); }
 90% { filter: text-shadow(0 0 18px #00FFFF, 0 0 28px #00FFFF, 0 0 41px #00FFFF); }
 /* 100% { filter: text-shadow(0 0 10px #00ffff); } */

}




.container {
  width: 100%;
  color: red;
  justify-content: center;
  align-content: center;
  height:70em;
}

h1 {
  padding-left:3vh;
  padding-bottom: 1vh;
  margin: 0 0 22px;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color: white;
  background-color: rgba(27, 27, 27);

}


.highlight-text {
  margin: 0 0 22px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  color: #00ffffb9;
}


p {
  margin: 0 0 20px;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #dfdfdf;
  padding-left:5vh;
}


.btn {
  font-family: 'Source Code Pro';
  background: #ECECEC;
  padding: 5px;
  border: none;
  margin: 1vw;
  font-size: 1.4vw;
  color: #949494;
  max-width: 10vh;
  padding: 2vh;
} .btn:hover {
  background: #b0bec0;
  color: #FFF;
  box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 35px #00FFFF; 
  transition: all 0.3s ease-in-out;
}



.dark-container {
  background-color: rgba(27, 27, 27);
  width: 100%;

}

a, a:visited {
  color:#00d8d8b9;
  text-decoration: none;
  padding: 2vh;
} 

