.dark-mode-button {
  position: fixed;
  right:2vh;
  top:2vh;
  background-color: #414141;
  color: #ffffff;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 20vw;
  font-family: 'Source Code Pro';
  cursor:pointer;
  z-index:999;

  @media (max-width:468px) {
      bottom:1vh;
    }
}

.dark-mode-button:hover {
  background-color: #19a9a9;
  color: #fff;
  /* cursor: move; */
}


.to-top-button {
  position: fixed;
  right:2vh;
  bottom:2vh;
  height:2vh;
  width:2vw;
  background-color: #0d6969;
  color: #62cece;

  padding: 2vh 2.5vh;
  border-radius: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Source Code Pro';
  cursor:pointer;
  z-index:999;
  /* padding:1; */
  font-size: 3vh;
  text-align:center;

  display:flex;
  justify-content: center;
  align-content:center;

}



.to-top-button:hover {
  background-color: #13b6b6;
  color: #fff;
  scale:1.05;
  /* cursor: move; */
}

